<main>
    <section class="imagem-login">
        <img src="http://localhost:3500/img/ranger.png" alt="">
    </section>
    <section class="form-login">
        <div class="welcome">
            <img class="form-logo" src="http://localhost:3500/img/ford.png" alt="form-logo" tabindex="-1">
            <h1 class="form-title">Boas-vindas</h1>
        
        </div>
        <div>
            <app-form (credentialEmitter)="login($event)" (autoLoginToggleEmitter)="changeAutoLogin($event)"></app-form>
        </div>
    </section>
</main>